<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grow.cmputf17team4.grow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityHabitEvent" />
        <activity android:name=".ActivityCreateHabit" />
        <activity android:name=".AvtivityEventFinished" />
        <activity android:name=".ActivityEventMissed" />
        <activity android:name=".ActivityOtherUserProfile" />
        <activity android:name=".ActivityHabitSetting"></activity>
    </application>

</manifest>